* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;

    .ism {
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: blue;

        img {
            width: 70px;
            height: 70px;
        }

        span {
            font-size: 30px;
        }

    }

    .menu {
        a {
            font-size: 20px;
            color: blue;
            text-decoration: none;
        }

        width: 50%;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: blue;


        a:hover {
            color: black;
            background-color: blue;
        }
    }
}



.yigma {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .birinchi {
        width: 250px;
        height: 400px;

        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px blue;


        img {
            width: 100%;
            height: 50%;

        }



        span {
            font-size: 25px;
            margin-left: 15px;
            color: blue;
            margin-top: 15px;
            transition: 0.2s;
        }

        span:hover {
            color: white;
            transition: 0.2s;
        }

        button {
            width: 100px;
            height: 30px;
            border: 2px solid blue;
            color: blue;
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 10px;
        }

        .kirish {
            width: 200px;
            height: 40px;
            border: 2px solid blue;
            border-radius: 10px;
            margin-top: 40px;
            margin-left: 20px;
            font-size: 20px;
            cursor: pointer;
        }

        .kirish:hover {
            color: white;
            background-color: blue;
            border: 2px solid white;
        }
    }



    .ikkinchi {
        width: 250px;
        height: 400px;

        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px blue;


        img {
            width: 100%;
            height: 50%;
        }

        span {
            font-size: 25px;
            margin-left: 25px;
            color: blue;
            margin-top: 15px;
            transition: 0.2s;
        }

        span:hover {
            color: white;
            transition: 0.2s;
        }


        button {
            width: 100px;
            height: 30px;
            border: 2px solid blue;
            color: blue;
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 10px;
        }

        .kirish {
            width: 200px;
            height: 40px;
            border: 2px solid blue;
            border-radius: 10px;
            margin-top: 40px;
            margin-left: 20px;
            font-size: 20px;
            cursor: pointer;
        }

        .kirish:hover {
            color: white;
            background-color: blue;
            border: 2px solid white;
        }
    }



    .uchinchi {
        width: 250px;
        height: 400px;

        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px blue;


        img {
            width: 100%;
            height: 50%;

        }



        span {
            font-size: 25px;
            margin-left: 60px;
            color: blue;
            margin-top: 15px;
            transition: 0.2s;
        }

        span:hover {
            color: white;
            transition: 0.2s;
        }


        button {
            width: 100px;
            height: 30px;
            border: 2px solid blue;
            color: blue;
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 10px;
        }

        .kirish {
            width: 200px;
            height: 40px;
            border: 2px solid blue;
            border-radius: 10px;
            margin-top: 40px;
            margin-left: 20px;
            font-size: 20px;
            cursor: pointer;
        }

        .kirish:hover {
            color: white;
            background-color: blue;
            border: 2px solid white;
        }
    }




    .tortinchi {
        width: 250px;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;

        box-shadow: 0px 0px 20px blue;

        img {
            width: 100%;
            height: 50%;
        }

        span {
            font-size: 25px;
            margin-left: 25px;
            color: blue;
            margin-top: 15px;
            transition: 0.2s;
        }

        span:hover {
            color: white;
            transition: 0.2s;
        }


        button {
            width: 100px;
            height: 30px;
            border: 2px solid blue;
            color: blue;
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 10px;
        }

        .kirish {
            width: 200px;
            height: 40px;
            border: 2px solid blue;
            border-radius: 10px;
            margin-top: 40px;
            margin-left: 20px;
            font-size: 20px;
            cursor: pointer;
        }

        .kirish:hover {
            color: white;
            background-color: blue;
            border: 2px solid white;
        }
    }

}